@model SeanGuessingGame.Models.GameModel

@{
    ViewBag.Title = "Index";
}

<h2>Guessing Game</h2>

@if ((ViewBag.Win ?? -1) != 0) // If (ViewBag.Win != null) return ViewBag.Win; else return false;
{
    @*if (ViewBag.Win != null && !ViewBag.Win) //If ViewBag.Win is not null and not ViewBag.Win then print msg for wrong answer
        {
            <h2>Sorry, @Model.PlayerName, @Model.Guess is incorrect.</h2> //Print msg for wrong answer
        }*@

    if (ViewBag.Win != null)
    {
        if (ViewBag.Win < 0)
        {
            <h2>The correct number is lower.</h2>
        }

        if (ViewBag.Win > 0)
        {
            <h2>The correct number is higher.</h2>
        }
    }

    using (Html.BeginForm()) //Form for dialog input boxes
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.PlayerName, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(m => m.PlayerName, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(m => m.PlayerName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Guess, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(m => m.Guess, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(m => m.Guess, "", new { @class = "text-danger" })
                </div>


            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guess" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <h2>That's it, @Model.PlayerName! The answer @Model.Guess is correct.</h2>
}

<div>
    @Html.ActionLink("Start Over", "Index")
</div>

