@model ShoppingListTeam3.Models.ItemViewModel

@{
    ViewBag.Title = "Delete Item";
}

<h2>Delete <b>@Model.Content</b> Item in <b>@Model.ShoppingListName</b> Shopping List</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Model.ConvertToPriorityMessage(Model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsChecked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsChecked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "Item", new { id = ViewBag.shoppingListID })" class = "btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> &nbsp;
            </a>
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
