@model PagedList.IPagedList<ShoppingListTeam3.Models.ShoppingListViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Shopping List", "Create", null, new {@class = "btn btn-primary btn-sm" })
    @Html.ActionLink("Group View", "GroupView", null,  new { @class = "btn btn-primary btn-lg pull-right" })
</p>
<br />
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Group
        </th>
        <th>
            Date Created
        </th>
        <th>
            Date Modified
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:@item.Color">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUtc)
        </td>
        <td>
            @Html.ActionLink("Show", "../Item/Index", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Edit", "Edit", new { id=item.ID}, new { @class = "btn btn-primary btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageNumber

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))